.custom-cursor {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: rgb(223, 223, 223);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
  }