html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.project-section {
  position: relative; /* Ensures content stacks correctly */
  min-height: 100vh;
}

.project-content {
  position: relative;
  z-index: 2; /* Ensures content appears above the background */
  padding: 20px;
}
